<%= simple_form_for @contribution do |f| %>
  <%= f.input :summary, label: "Summarize the contribution" %>
  <%= f.input :category, collection: Contribution.CATEGORIES %>
  <%= f.input :start_year %>
  <%= f.input :start_month %>
  <%= f.input :end_year %>
  <%= f.input :end_month %>
  <%= f.input :location_state %>
  <%= f.input :location_city %>

  <h2>References</h2>
  <%= f.nested_fields_for :references do |r| %>
    <%= r.input :url %>
    <%= r.input :headline %>
    <%= r.input :org_name %>
    <%= r.remove_nested_fields_link 'Remove me' %>
  <% end %>
  <%= f.add_nested_fields_link :references %><br/>
  <%= f.button :submit, label: "Create Contribution" %>
<% end %>
