<%= simple_form_for @contribution do |f| %>
  <%= f.input :summary, label: "Summarize the contribution" %>
  <%= f.input :category, collection: Contribution.CATEGORIES %>
  <%= f.input :start_year %>
  <%= f.input :start_month %>
  <%= f.input :end_year %>
  <%= f.input :end_month %>
  <%= f.input :location_state %>
  <%= f.input :location_city %>

  <h2>Department</h2>
  <%= label_tag "Department Name" %>
  <%= autocomplete_field_tag 'contribution_department_name', '',
  autocomplete_department_name_contributions_path,
  update_elements: {city: '#contribution_department_city',
    state:'#contribution_department_state',
    county:'#contribution_department_county',
    level:'#contribution_department_level'},
    class:'form-control', rows:5,
      placeholder: "example: Miami-Dade Police Department" %>

  <%= label_tag :department_city %>
  <%= text_field_tag :contribution_department_city %>

  <%= label_tag :department_state %>
  <%= text_field_tag :contribution_department_state %>

  <%= label_tag :department_county %>
  <%= text_field_tag :contribution_department_county %>

  <%= label_tag :department_level %>
  <%= select_tag 'contribution_department_level', options_for_select(Department::DEPARTMENT_LEVELS) %>

  <h2>References</h2>
  <%= f.nested_fields_for :references do |r| %>
    <%= r.input :url %>
    <%= r.input :headline %>
    <%= r.input :org_name %>
    <%= r.remove_nested_fields_link 'Remove me' %>
  <% end %>
  <%= f.add_nested_fields_link :references %><br/>
  <%= f.button :submit, label: "Create Contribution" %>
<% end %>
